/Anaconda3-2024.02-1-Windows-x86_64.exe
/desktop.ini
/dog.jpg
/DS0103EN-Exercise-From-Modeling-to-Evaluation.ipynb
/DS0103EN-Review-From-Requirements-to-Collection.ipynb
/employee.csv
/evrak_10214413861.udf
/evrak_10217903322.pdf
/example.txt
/Final Assignment (1).ipynb
/Final Assignment Webscraping (1).ipynb
/Final Assignment Webscraping.ipynb
/Final Assignment.ipynb
/Final_Assignment Library.ipynb
/Golden_State.pkl
/GoogleDriveSetup.exe
/image.png
/labs_module 1_Web Scraping_Web-Scraping-Review-Lab.ipynb
/new_sample.xml
/Pandas_Practice.ipynb
/person.json
/practice_project-20231110-1699574400.ipynb
/PY0101EN-1-1-Write_your_first_python_code.ipynb
/PY0101EN-2-3-Sets.ipynb
/PY0101EN-3-1-Conditions.ipynb
/PY0101EN-3-2-Loops.ipynb
/PY0101EN-3-3-Functions .ipynb
/PY0101EN-3-5-Practice_lab.ipynb
/PY0101EN-4-1-ReadFile.ipynb
/PY0101EN-4-2-WriteFile (1).ipynb
/PY0101EN-4-2-WriteFile.ipynb
/PY0101EN-4-3-LoadData-20230424-1682294400.jupyterlite.ipynb
/PY0101EN-5-1-Numpy1D.ipynb
/PY0101EN-5-2-Numpy2D.ipynb
/PY0101EN-5.1_Intro_API.ipynb
/PY0101EN-5.2_API_2.v2.ipynb
/PY0101EN-5.3_Requests_HTTP.ipynb
/PY0101EN-5.4_WorkingWithDifferentFileTypes (1).ipynb
/PY0101EN-5.4_WorkingWithDifferentFileTypes.ipynb
/Sample-employee-XML-file.xml
/sample.json
/sample.xlsx
/WebScraping_Review_Lab (1).ipynb
/WebScraping_Review_Lab.ipynb